*{
  box-sizing: border-box;
}

*::before, *::after {
  box-sizing: inherit;
}

.container{
  max-width: 40rem;
  margin: auto;
}

h3{
  margin: 0;
}

.left-column, .center-column, .right-column{
  float: left;
}

.left-column{
  display: block;
  width: 1rem;
  float: left;

  margin: auto;
}

.center-column{
  display: block;
  width: 1rem
  float:left;

  margin: auto;
}

.right-column{
  display: block;
  width: 1rem;
  float: left;

  margin: auto;
}
