body{
  margin: 0;
}

*{
  box-sizing: border-box;
}

.container{
  width: 100%;
  max-width: 65rem;
  margin: auto;


}

.row{
  float: right;


}

.column{
  width: : calc(100%/3);
  padding: 1rem;

}

.illustration{
  border: 1px black solid;
}

.illustration__pic {
  width: 100%;
}

.illustration__caption{


  justify-content: center;

  align-items: center;
}

.illustration__number {

}

.illustration__avatar{
  height: 2em;
  vertical-align: middle;
}
